.categories {
    display: grid;
    grid-template-columns: 1fr;
    align-content: start;
    gap: 10px;
    padding: 20px;
    background: var(--dark-light);
    border-radius: 30px;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.2);
    height: 100%;
}