.button {
    border: none;
    background: var(--dark);
    color: var(--grey);
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.button:hover {
    transform: scale(1.1);
}

.button svg {
    transition: .3s ease-in-out;
}

.button:hover svg {
    fill: var(--white)
}

.invalid {
    opacity: .5;
    cursor: not-allowed;
}