.main {
  min-height: 100dvh;
  display: grid;
  grid-template-columns: 1.3fr 2fr;
}

.categoriesSection {
  background: var(--dark);
  padding: 50px;
  border-right: 2px solid var(--white);
}

.editSection {
  background: var(--dark);
  padding: 50px;
}